.Form {
	margin: auto;
	margin-bottom: 5px;
	width: 80%;
	border: 3px solid #706d66;
	background-color: #b5b3af;
	text-align: right;
}

.Section{
	border: 3px solid #706d66;
	background-color: #d8d6d2;
	margin: 25px;
	padding: 10px;
	text-align: left;
}

.Part {
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	margin: 15px;
	padding: 15px;
}

.Controls{
	display: inline-block;
	border: 2px solid #706d66;
	margin: 5px;
}
