.Button {
	margin: auto;
	margin: 20px 35%; /*Some reason margin auto is not centering button just a place holder for mostly centered*/
}

.Register {
	border: 3px outset #67b7bc;
	background-color: #77d2d8;
	font-size: 48px;
	width: 300px;
	height: 125px;
}

.Character { /* Just a copy of .Register for now with added display property*/
	border: 3px outset #67b7bc;
	background-color: #77d2d8;
	font-size: 48px;
	width: 300px;
	height: 125px;
	display: inline-block;
}

.Success {
	border: 1px solid #2a991b;
	background-color: #36bf24;
	width: 150px;
	height: 75px;
	color: white;
	font-size: 24px;
	display: inline-block;
}

.Danger {
	border: 1px solid #a51a1a;
	background-color: #ce2323;
	width: 150px;
	height: 75px;
	color: white;
	font-size: 24px;
	display: inline-block;
}

.Tab {
	border: 1px outset #d6b671;
	border-radius: 5px;
	background-color: #ddd99f;
	margin: 0px 5px;
	display: inline-block;
	z-index: 100;
}

.ActiveTab {
	border: 1px inset #d6b671;
	border-radius: 5px;
	background-color: #ddd99f;
	margin: 0px 5px;
	display: inline-block;
	z-index: 100;
}