@media (min-width: 750px) {
	.Navigation { 
		border: 3px outset #eae279;
		border-radius: 10px;
		background-color: #fcf380;
		font-size: 48px;
		width: 60%;
		margin: 15px auto;
		height: 75px;
		display: block;
	}
}

@media (max-width: 749px) {
	.Navigation { 
		border: 3px outset #eae279;
		border-radius: 10px;
		background-color: #fcf380;
		font-size: 32px;
		width: 60%;
		margin: 15px auto;
		height: 75px;
		display: block;
	}
}



.Register {
	margin: 20px auto;
	border: 3px outset #67b7bc;
	background-color: #77d2d8;
	font-size: 48px;
	width: 80%;
	height: 125px;
}

.Character {
	margin: auto;
	border: 3px outset #67b7bc;
	background-color: #77d2d8;
	font-size: 36px;
	width: 40%;
	height: 125px;
	display: block;
	margin: 10px auto;
}



.Success {
	border: 1px solid #2a991b;
	background-color: #36bf24;
	width: 150px;
	height: 75px;
	color: white;
	font-size: 24px;
	margin: 10px;
}

.Danger {
	border: 1px solid #a51a1a;
	background-color: #ce2323;
	width: 150px;
	height: 75px;
	color: white;
	font-size: 24px;
	margin: 10px;
}

.Tab {
	border: 1px outset #d6b671;
	border-radius: 5px;
	background-color: #ddd99f;
	margin: 0px 5px;
	display: inline-block;
	z-index: 100;
}

.ActiveTab {
	border: 1px inset #d6b671;
	border-radius: 5px;
	background-color: #ddd99f;
	margin: 0px 5px;
	display: inline-block;
	z-index: 100;
}