.LargeInfoBox {
	width: 80%;
	margin: auto;
	margin-top: 25px;
	border: 3px solid #d363a3;
	background-color: #f989c9;
	text-align: left;
	padding: 10px;
}

.MainImage {
	display: inline-block;
}

.MainImage img {
	width: 300px;
	height: auto;
	display: inline-block;
	border: 3px solid #d363a3;
}

.MainInfo {
	display: inline-block;
	max-width: 80%;
}

.MainBox {
	
}